.postWrapper {
  padding-left: 280px;
}
.postContent {
  background-color: #f7f5f1;
  padding: 0 40px;
  padding-top: 100px;
  display: flex;
  align-items: flex-start;
  margin: 0 auto;
  justify-content: space-between;
  padding-bottom: 70px;
}
.postContent1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.postPost-div1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.postPlus-icon {
  cursor: pointer;
  opacity: 0;
  margin-left: -250px;
  margin-top: -30px;
}
.postUpload {
  margin-top: -20px;
  font-size: 20px;
}
.postTitle {
  font-size: 32px;
  font: DM Sans;
  outline: none;
  border: none;
  background-color: #f7f5f1;
  margin: 40px 0;
  color: #555;
}
.postPreview-btn {
  background-color: #543ee0;
  padding: 5px 20px;
  border-radius: 4px;
  color: #fff;
  border: none;
  font-weight: 600;
}
.postPublish-btn:hover {
  background-color: #493ba0;
  transition: all 0.3s;
  cursor: pointer;
}
.postPublish-contents {
  margin-top: 40px 20px;
}
.postContent2 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.postContent3 {
  background-color: #fff;
  width: 200px;
  padding: 20px;
  border-radius: 8px;
  margin: 10px;
  margin-top: 30px;
  box-sizing: 0.5px 0.3px 10px 0.5px #ccc;
  height: 300px;
}
.postContent3-title {
  color: #555;
}
.postContent3-content {
  color: #543ee0;
}
.postContent4{
  background-color: #fff;
  width: 200px;
  margin: 10px;
  padding: 10px;
  border-radius: 8px;
  margin-top: 30px;
  box-sizing: 0.5px 0.3px 10px 0.5px #ccc;
  height: 300px;
}
.postContent4-btn_div{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.postContent4-btn{
  background-color: #543ee0;
  color: #fff;
  border-radius: 4px;
  border: none;
  padding: 5px 20px;
  cursor: pointer;
}
.postContent-btn {
  padding: 5px 20px;
  border-radius: 4px;
  color: #fff;
  font-weight: 600;
  background-color: #ddd;
}
.postContent4-img {
  width: 100%;
  height: 200px;
  border-radius: 4px;
}