/* Register.css */

.registerWrapper {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  margin-top: 40px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.registerTitle {
  font-size: 24px;
  text-align: center;
  padding-bottom: 15px;
}

.error-message {
  color: red;
  margin-top: 10px;
}

.success-message {
  color: green;
  margin-top: 10px;
}

.register-form {
  margin-top: 20px;
  padding-right: 20px;
}

.registerLabel {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.registerForm1-input,
.registerForm2 {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 15px;
}

.registerForm-flex_row {
  position: relative;
}

.visibility {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  cursor: pointer;
}

.signUp-btn {
  background-color: #543ee0;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.signUp-btn:hover {
  background-color: #fff;
  color: #543ee0;
}

#signUp-btn_white {
  background-color: white;
  color: #543ee0;
  border: 1px solid #543ee0;
  margin-top: 10px;
}

.signUp-btn_icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

@media (max-width: 768px) {
  .registerWrapper {
    max-width: 100%;
    border: none;
    box-shadow: none;
  }

  .registerTitle {
    font-size: 20px;
  }
}
