.registerWrapper {
  margin-left: -20px;
  margin-bottom: -340px;
}
.registerTitle {
  color: #3b3b3b;
  text-align: center;
  margin: 40px 0;
}
.registerForm1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.registerForm1-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.registerForm1-flex2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.registerLabel {
  margin-left: 10px;
}
.registerForm-flex_row {
  display: flex;
  align-items: center;
}
.registerForm {
  width: 60%;
}
.registerForm1-input {
  width: 85%;
  margin: 10px 0;
  margin-left: 10px;
  padding: 10px 12px 10px 16px;
  background: #fff;
  border: 1px solid #ced4da;
  box-shadow: 0px 2px 2px rgba(48, 48, 48, 0.06),
    0px 0px 1px rgba(33, 37, 41, 0.08);
  border-radius: 7px;
  outline: 0;
  font-family: "DM Sans";
  color: #3b3b3b;
}
#registerForm1-input2{
margin-left: 20px;
}
.registerForm1-input2 {
  width: 102%;
  margin: 10px;
  padding: 10px 12px 10px 16px;
  background: #fff;
  border: 1px solid #ced4da;
  box-shadow: 0px 2px 2px rgba(48, 48, 48, 0.06),
    0px 0px 1px rgba(33, 37, 41, 0.08);
  border-radius: 7px;
  outline: 0;
  font-family: "DM Sans";
  color: #3b3b3b;
}
.registerForm1-flexx {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#registerForm1 {
  margin-left: 10px;
}
.registerForm2 {
  max-width: 200%;
  min-width: 200%;
  margin: 10px;
  padding: 10px 12px 10px 16px;
  background: #fff;
  border: 1px solid #ced4da;
  box-shadow: 0px 2px 2px rgba(48, 48, 48, 0.06),
    0px 0px 1px rgba(33, 37, 41, 0.08);
  border-radius: 7px;
  outline: 0;
  font-family: "DM Sans";
  color: #3b3b3b;
}
#registerForm2{
  min-width: 184%;
  max-width: 184%;
}
#registerForm22{
  min-width: 203%;
  max-width: 203%;
}
#signUp-btn {
  min-width: 102%;
  max-width: 102%;
  margin-left: 10px;
}
.signUp-btn {
  min-width: 104%;
  max-width: 104%;
  margin: 10px 0;
  padding: 10px 12px 10px 20px;
  background: #543ee0;
  border: 1px solid #ced4da;
  box-shadow: 0px 2px 2px rgba(33, 37, 41, 0.06),
    0px 0px 1px rgba(33, 37, 41, 0.08);
  border-radius: 7px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.signUp-btn:hover {
  background-color: #493ba0 !important;
  transition: all 0.3s;
}
#signUp-btn_white {
  background-color: #fff;
  color: #3b3b3b;
}
#signUp-btn_white:hover {
  background-color: #543ee0;
  color: #fff;
  transition: all 0.3s;
}
.signUp-btn_icon {
  width: 20px !important;
  height: 20px !important;
  margin-right: 10px;
  border-radius: 3px;
}
/* .register-Contents {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .register-Contents1 {
    width: 35%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-image: url("./assets/unsplash_9pjBx5uVBlgsignInBgImg.png");
    background-blend-mode: overlay;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 3%;
    background-color: rgba(0, 0, 0, 0.55);
  }
  .register-title {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
    color: #ffffff;
  }
  .register-details {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #ffffff;
  }
  .register-Contents2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    width: 70%;
    height: 100vh;
    padding: 0 40px;
    margin-top: -70px;
  }
  .register-form_title {
    margin: 40px 0;
  }
  .register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .register-form_label {
    text-align: left !important;
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #3b3b3b;
    margin-left: -340px;
  }
  .formInput {
    min-width: 200%;
    max-width: 200%;
    margin: 10px 0;
    padding: 10px 12px 10px 16px;
    background: #fff;
    border: 1px solid #ced4da;
    box-shadow: 0px 2px 2px rgba(33, 37, 41, 0.06),
      0px 0px 1px rgba(33, 37, 41, 0.08);
    border-radius: 7px;
    outline: 0;
    font-family: "DM Sans";
    color: #3b3b3b;
  }
  .registerInputVisibilty-div {
    display: flex;
    align-items: center;
    width: 100%;
    margin-left: -230px;
  }
  .visibility {
    margin-left: -40px;
    cursor: pointer;
  }
  .visibility:hover {
    color: #555 !important;
    transition: all 0.3s;
  }
  .register-btn {
    min-width: 215%;
    max-width: 200%;
    margin: 10px 0;
    padding: 10px 12px 10px 20px;
    background: #543ee0;
    border: 1px solid #ced4da;
    box-shadow: 0px 2px 2px rgba(33, 37, 41, 0.06),
      0px 0px 1px rgba(33, 37, 41, 0.08);
    border-radius: 7px;
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #fff;
  }
  .register-btn:hover {
    background-color: #493ba0;
    transition: all 0.3s;
    cursor: pointer;
  }
  
  /*British council english score*/
