.chatterWelcome-wrapper {
  background-image: url("../chatterWelcome//assets/unsplash_-2vD8lIhdnwbgImg.png");
  background-blend-mode: overlay;
  min-height: 96.5vh;
  max-height: 101vh;
  left: 0px;
}
.chatterWelcome-contents {
  background-color: rgba(0, 0, 0, 0.55);
  max-height: 96.5vh;
  min-height: 96.5vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 1% 15%;
}
.chatterWelcome-intro{
height: 144px;
font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 48px;
color: #fff;
}
.chatterWelcome-details{
font-family: 'DM Sans';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 36px;
color: #fff;
}
.chatterWelcome-btn{
padding: 15px 16px;
width: 157px;
background: #543EE0;
border-radius: 8px;
font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 18px;
color: #fff;
text-align: center;
text-decoration: none;
}
