/* ChatterWelcome.css */

/* General styles */
.chatterWelcome-wrapper {
  background-image: url("./assets/unsplash_-2vD8lIhdnwbgImg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
  padding: 20px;
  color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; 
  background-color: rgba(0, 0, 0, 0.55);
}

.chatterWelcome-contents {
  max-width: 600px;
}

.chatterWelcome-intro {
  font-size: 32px;
  margin-bottom: 20px;
  animation: intro 1s;
}
@keyframes intro {
0%{
  margin-top: -600px;
}
100%{
  margin-top: inherit;
}
  
}

.chatterWelcome-details {
  font-size: 18px;
  margin-bottom: 30px;
  animation: details 1.3s;
}

@keyframes details{
  0%{
    margin-left: -700px;
  }
  100%{
    margin-left: inherit;
  }
    
  }
.chatterWelcome-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #543ee0;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  font-size: 18px;
  animation: btn 1.5s;
}

.chatterWelcome-btn:hover{
  background-color: #493ba0;
  transition: all 0.3s;
}

@keyframes btn {
  0%{
    margin-right: -700px;
  }
  100%{
    margin-right: inherit;
  }
    
  }
/* Media Queries */
@media screen and (max-width: 768px) {
  .chatterWelcome-intro {
    font-size: 24px;
  }

  .chatterWelcome-details {
    font-size: 16px;
  }

  .chatterWelcome-btn {
    font-size: 16px;
  }
}
