/* Login.css */

.logIn-wrapper {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 40px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.logIn-form_title {
  font-size: 24px;
  margin-bottom: 20px;
}

.error-message {
  color: red;
  margin-top: 10px;
}

.success-message {
  color: green;
  margin-top: 10px;
}

.login-form {
  margin-top: 20px;
  padding-right: 20px;
}

.loginLabel {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.loginForm2 {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 15px;
}

.loginError-message{
  color: red;
  margin-top: -10px;
  font-size: 12px;
  margin-bottom: 10px;
}

.loginForm-flex_row {
  position: relative;
}

.visibility {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.logIn-btn {
  background-color: #543ee0;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logIn-btn:hover {
  color: #543ee0;
  border: 1px solid #543ee0;
  background-color: #fff;
  transition: all 0.3s;
}

#login-btn {
  margin-top: 10px;
  text-align: right;
  background-color: #fff;
  border: 1px solid #543ee0;
}

Link{
  text-decoration: none;
}

@media (max-width: 768px) {
  .logIn-wrapper {
    max-width: 100%;
  }

  .logIn-form_title {
    font-size: 20px;
  }
}
