.logIn-wrapper {
  margin-left: -240px;
}
.logIn-form_title {
  text-align: center;
  margin: 40px 0;
}
.logIn-btn {
  min-width: 199%;
  max-width: 200%;
  margin: 10px 0;
  padding: 10px 12px 10px 20px;
  background: #543ee0;
  border: 1px solid #ced4da;
  box-shadow: 0px 2px 2px rgba(33, 37, 41, 0.06),
    0px 0px 1px rgba(33, 37, 41, 0.08);
  border-radius: 7px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #fff;
  margin-left: 10px;
}
.logIn-btn:hover {
  background-color: #493ba0;
  transition: all 0.3s;
  cursor: pointer;
}

/*British council english score*/
