.chatterAbout-wrapper {
  height: 100vh;
}
.chatterAbout-section1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5% 5%;
}
.chatterAbout-section1_1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.chatterAbout-title {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  padding: 5% 8%;
  padding-bottom: 0;
  line-height: 58px;
  margin-bottom: -100px;
}
.chatterAbout-details {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #111111;
  padding: 0 5%;
}
.chatterAbout-img {
  width: 400px;
  height: 334px;
}
.chatterAbout-section2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 15%;
  justify-content: center;
}
.chatterAbout-title2 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;
}
.chatterAbout-details2 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #111111;
  padding: 0 1%;
}
.chatterAbout-section2_boxDiv {
  display: flex;
  justify-content: center;
}
.chatterAbout-section2_box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
  justify-content: space-evenly;
  width: 100%;
  height: 300px;
  border: 1px solid #d0d0d0;
  border-radius: 8px;
  padding: 10px 15px;
  margin: 20px 10px;
}
.chatterAbout-section2_boxImg {
  max-width: 32px;
  max-height: 32px;
  background: rgba(214, 209, 248, 0.2);
  padding: 15px;
  border-radius: 50%;
}
.chatterAbout-section2_boxTitle {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  margin-top: 0;
  font-size: 24px;
}
.chatterAbout-section2_boxDetails {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #626262;
  margin-top: -10px;
}
@media (max-width: 1100px) {
  .chatterAbout-title {
    margin-bottom: -50px;
  }
}
@media (max-width: 1024px) {
  .chatterAbout-img {
    width: 350px;
    height: 284px;
  }
}
@media (max-width: 940px) {
  .chatterAbout-section1 {
    align-items: center;
  }
  .chatterAbout-img {
    width: 280px;
    height: 280px;
  }
}
@media (max-width: 860px) {
  .chatterAbout-title {
    font-size: 32px;
  }
  .chatterAbout-title2 {
    font-size: 32px;
  }
}
@media (max-width: 768px) {
  .chatterAbout-section1 {
    flex-direction: column;
    padding: 5% 12%;
  }
  .chatterAbout-section1 {
    flex-direction: column-reverse;
  }
  .chatterAbout-section1_1 {
    align-items: center;
  }
  .chatterAbout-title {
    margin-bottom: 0;
    text-align: center;
  }
  .chatterAbout-title2 {
    text-align: center;
  }
  .chatterAbout-img {
    display: none;
  }
  .chatterAbout-details2 {
    padding: 0;
  }
  .chatterAbout-section2_boxDiv {
    flex-direction: column;
    width: 100%;
    margin-bottom: 200px;
    margin-left: -8%;
  }
  .chatterAbout-section2_boxTitle {
    font-size: 32px;
  }
  .chatterAbout-section2_boxDetails {
    font-size: 24px;
  }
}
@media (max-width: 575px) {
  .chatterAbout-title2 {
    line-height: 32px;
  }
}
@media (max-width: 480px) {
  .chatterAbout-img {
    display: flex;
    width: 100%;
    height: 250px;
  }
}
@media (max-width: 375px) {
  .chatterAbout-section2_box {
    height: 250px;
  }
  .chatterAbout-section2_boxImg {
    max-width: 30px;
    max-height: 30px;
  }
  .chatterAbout-section2_boxTitle {
    font-size: 24px;
  }
  .chatterAbout-section2_boxDetails {
    font-size: 18px;
  }
}
