/* General styles */
.chatterAbout-wrapper {
  margin: 0 auto;
  max-width: 1200px;
  padding: 20px;
}

.chatterAbout-title {
  font-size: 28px;
  margin-bottom: 20px;
}

.chatterAbout-section1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.chatterAbout-section1_1 {
  flex: 1;
  text-align: left;
  margin-right: 20px;
  font-size: 18px;
  line-height: 38px;
}

.chatterAbout-img {
  max-width: 100%;
}

.chatterAbout-section2 {
  text-align: center;
  font-size: 18px;
  line-height: 38px;
}

.chatterAbout-title2 {
  font-size: 24px;
  margin-bottom: 20px;
  margin-top: 40px;
}

.chatterAbout-section2_boxDiv {
  display: flex;
  justify-content: space-between;
}

.chatterAbout-section2_box {
  flex: 1;
  margin: 0 10px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  min-height: fit-content;
  font-size: 16px;
}

.chatterAbout-section2_boxImg {
  max-width: 100%;
  margin-bottom: 10px;
  border: 1px solid #543ee0;
  padding: 10px;
  border-radius: 50%;
  background-color: #ffedcc;
}

/* Media queries */
@media (max-width: 768px) {
  .chatterAbout-section1 {
    flex-direction: column;
  }

  .chatterAbout-section1_1 {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .chatterAbout-title{
    text-align: center;
  }

  .chatterAbout-section2_boxDiv {
    flex-direction: column;
  }

  .chatterAbout-section2_box {
    margin: 0 0 20px 0;
  }
}
