.feedWrapper {
  margin-left: 280px;
  border-left: 1px solid #d0d0d0;
  padding: 25px 10px;
  min-height: 100vh;
}
.feedContents {
  padding: 10px 50px;
  border: 1px solid #d0d0d0;
  display: flex;
  min-height: 70vh;
  flex-direction: column;
}
.feedContents-top_section1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.feedContents-top_section1_1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.feedContents-top_section1_title {
  font: DM Sans;
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
}
.feedContents-top_section1_details {
  font: DM Sans;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  margin-top: -10px;
}
.feedContents-top_section2_1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10px 20px;
  border: 1px solid #d0d0d0;
}
.feedContent-top_section2_1 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.feedContent-top_link {
  font: DM Sans;
  font-weight: 550;
  font-size: 18px;
  text-decoration: none;
  color: #191919;
  padding-bottom: 15px;
  margin-bottom: -12px;
}
.feedContent-top_link:hover {
  color: #543ee0;
  transition: all 0.3s;
}
@media (max-width: 940px) {
  .feedWrapper {
    margin-left: 0;
  }
}
@media (max-width: 575px) {
  .feedContents {
    padding: 10px 10px;
  }
  .feedContents-top_section1_title {
    font-size: 24px;
    line-height: 24px;
  }
  .feedContents-top_section1_details {
    font-size: 16px;
    line-height: 17px;
  }
  .feedContent-top_link {
    font-size: 16px;
  }
  .feedContents{
    border: none;
}
}
@media (max-width: 480px) {
  .feedContents{
    padding: 10px 5px;
  }
}
@media (max-width: 319px) {
  .feedContents-top_section1_title {
    font-size: 22px;
  }
  .feedContents-top_section1_details {
    font-size: 14px;
  }
  .feedContent-top_link {
    font-size: 14px;
  }
}