.forYou-wrapper {
  border-radius: 7px;
}
.forYou-contents {
  width: 100%;
}
.forYou-content {
  padding: 20px;
  border: 1px solid #d0d0d0;
  padding-right: 35%;
  border-radius: 4px;
}
.forYou-content_flex1 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.forYou-content_flex2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.forYou-userImg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
.forYou-userName {
  font: DM Sans;
  font-weight: 500;
  font-size: 20px;
  color: #111;
}
.forYou-date{
  font: DM Sans;
  font-weight: 500;
  font-size: 14px;
  color: #626262;
  margin-top: -10px;
}
.forYou-post_timing {
  display: flex;
  color: #626262;
  align-items: center;
}
.forYou-timingImg {
  margin-right: 15px;
}
.forYou-post_contentFlex{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  box-shadow: 0.3px 0.2px 7px 0.7px #ccc;
  margin-top: 10px;
  border-radius: 7px;
  padding: 20px;
}
.forYou-post_content {
  color: #555;
  font-size: 14px !important;
}
.forYou-post_img {
  height: 200px;
  width: 40%;
  border-radius: 4px;
  margin-left: 10px;
}
.forYou-post_reactions {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 4px;
}
.forYou-post_bookMark,
.forYou-post_comment,
.forYou-post_love,
.forYou-post_views {
  display: flex;
  align-items: center;
  color: #626262;
  font-size: 14px !important;
}
.forYou-reactionsImg {
  width: 18px;
  height: 18px;
  margin-right: 5px;
  cursor: pointer;
}
.forYou-comment{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 10px;
}
.forYou-comment_form{
  display: flex;
  align-items: flex-start;
}
.forYou-comment_userImg{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
.forYou-comment_textarea{
  min-width: 250px;
  min-height: 70px;
  border-radius: 4px;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  outline: none;
  background-color: #e2e2e2;
  color: #555;
}
.forYou-comment_btn{
  background-color: #543ee0;
  color: #fff;
  border-radius: 20px;
  margin-left: 60px;
  border: none;
  padding: 10px 20px;
  font-weight: 600;
  margin-top: 5px;
  cursor: pointer;
}