.forYou-wrapper {
  border-radius: 4px;
}
.forYou-contents {
  width: 100%;
}
.forYou-content {
  padding: 20px;
  border: 1px solid #d0d0d0;
  padding-right: 15%;
  border-radius: 4px;
}
.forYou-content_flex1 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.forYou-content_flex2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.forYou-userImg {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-right: 10px;
}
.forYou-userName {
  font: DM Sans;
  font-weight: 500;
  font-size: 24px;
  color: #111;
  line-height: 36px;
}
.forYou-date {
  font: DM Sans;
  font-weight: 500;
  font-size: 18px;
  color: #626262;
  margin-top: -10px;
}
.forYou-post_timing {
  display: flex;
  color: #626262;
  align-items: center;
}
.forYou-timingImg {
  margin-right: 15px;
}
.forYou-post_contentFlex {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  box-shadow: 0.3px 0.2px 7px 0.7px #ccc;
  margin-top: 10px;
  border-radius: 7px;
  padding: 20px;
}
.forYou-post_content_button {
  background-color: #a79cef;
  padding: 2px 15px;
  color: #fff;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  border: none;
  outline: none;
}
.forYou-post_content {
  color: #555;
  font-size: 16px !important;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.forYou-comment_userImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  margin-top: -20px;
}
.forYou-comment_form {
  display: flex;
  align-items: center;
  margin: 20px auto;
}
.forYou-post_img {
  height: 200px;
  width: 40%;
  border-radius: 4px;
  margin-left: 10px;
}
.forYou-comment_textarea {
  height: 50px;
  width: 250px;
  font-family: DM Sans;
  outline: none;
  font-size: 18px;
  border: none;
  color: #fff;
  border-radius: 4px;
  padding: 10px 20px;
  background-color: #c3c3c3;
  border: 1px solid #543ee0;
  
}
.forYou-comment_btn {
  padding: 10px 40px;
  background-color: #543ee0;
  cursor: pointer;
  border-radius: 20px;
  border: none;
  color: #fff;
  font-weight: 600;
  margin-left: 50px;
  margin-top: -10px;
}
.forYou-comment_btn:hover {
  background-color: #a79cef;
  transition: all 0.3s;
}
.forYou-post_reactions {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 4px;
}
.forYou-post_bookMark,
.forYou-post_comment,
.forYou-post_love,
.forYou-post_views {
  display: flex;
  align-items: center;
  color: #626262;
  font-size: 14px !important;
}
.forYou-reactionsImg {
  width: 18px;
  height: 18px;
  margin-right: 5px;
  cursor: pointer;
}
.forYou-post_more {
  text-decoration: none;
}
