.blogSidebar-wrapper {
  width: 280px;
  position: absolute;
  left: 0;
  top: 0;
  height: 95%;
  overflow-y: scroll;
}
.blogSidebar-wrapper::-webkit-scrollbar {
  width: 1px;
}

.blogSidebar-wrapper::-webkit-scrollbar-track {
  background: #f2f2f2;
}

.blogSidebar-wrapper::-webkit-scrollbar-thumb {
  border-radius: 20px;
}
.blogSidebar-contents {
  padding: 10px 40px;
}
.blogLogo {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 72px;
  color: #543ee0;
  text-decoration: none;
  margin-right: auto;
  position: sticky;
  top: 20px;
}
.blogSidebar-section_title {
  font: DM Sans;
  font-weight: 400;
  size: 18px;
  line-height: 27px;
  color: #000000;
}
.blogSidebar-content_flex {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 10px;
  margin-left: 20px;
}
.blogSidebar-contents_img {
  width: 15px;
  height: 15px;
}
.blogSidebar-contents_link {
  text-decoration: none;
  margin-left: 20px;
  font: DM Sans;
  font-weight: 400;
  size: 18px;
  line-height: 27px;
  color: #000000;
}
.blogSidebar-personal,
.blogSidebar-trending_tags {
  margin-top: 10px;
}
.blogSidebar-contents_link2 {
  text-decoration: none;
  margin-left: 20px;
  font: DM Sans;
  font-weight: 400;
  size: 18px;
  line-height: 27px;
  color: #000000;
}
.blogSidebar-see_all {
  border: 0;
  color: #543ee0;
  margin-left: 15px;
  font: DM Sans;
  font-weight: 400;
  size: 18px;
  background-color: #fff;
  margin-top: 10px;
  cursor: pointer;
}
.blogSidebar-logout_btn {
  color: #ff1400;
  font-size: 16px;
  border: 0;
  background-color: #fff;
  margin-left: 15px;
  margin-top: 10px;
  cursor: pointer;
}
