.blogSidebar-wrapper {
  width: 200px;
  position: fixed;
  top: -20px;
  left: 0;
  height: 105vh;
}
.blogSidebar-contents {
  position: sticky;
  top: 0;
  left: 0;
  border: 1px solid #d0d0d0;
}
.blogLogo {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 72px;
  color: #543ee0;
  text-decoration: none;
  margin-right: auto;
}
.blogSidebar-section_title {
  font: DM Sans;
  font-weight: 400;
  size: 18px;
  line-height: 27px;
  color: #000000;
}
.blogSidebar-contents_link {
  text-decoration: none;
}
