.blogSidebar-wrapper {
  width: 280px;
  position: fixed;
  left: 0;
  height: 100%;
  overflow-y: scroll;
  background-color: #fff;
}
.blogSidebar-wrapper::-webkit-scrollbar {
  width: 1px;
}

.blogSidebar-wrapper::-webkit-scrollbar-track {
  background: #f2f2f2;
}

.blogSidebar-wrapper::-webkit-scrollbar-thumb {
  border-radius: 20px;
}
.blogSidebar-contents {
  margin-top: 40px;
  padding: 0 40px;
}
#blogSidebar-contents {
  margin-top: 40px;
}
.blogLogo {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 72px;
  color: #543ee0;
  text-decoration: none;
  margin-right: auto;
  position: sticky;
  top: 0;
  padding: 15px 0;
  background-color: #fff;
  width: 280px;
}
.blogSidebar-section_title {
  font: DM Sans;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #000000;
}
#blogSidebar-section_title {
  font: DM Sans;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #000000;
  margin-top: 2px;
}

.blogSidebar-content_flex {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 20px;
}
.blogSidebar-contents_img {
  width: 15px;
  height: 15px;
}
#blogSidebar-feed_link.active{
  color: #543ee0;
}
.blogSidebar-contents_link {
  text-decoration: none;
  margin-left: 20px;
  font: DM Sans;
  font-weight: 400;
  font-size: 18px;
  margin-top: 5px;
  line-height: 27px;
  color: #000000;
}
.blogSidebar-contents_link:hover, .blogSidebar-contents_link2:hover{
  color: #543ee0 !important;
  transition: all 0.3s;
}
.blogSidebar-personal,
.blogSidebar-trending_tags {
  margin-top: 5px;
}
.blogSidebar-contents_link2 {
  text-decoration: none;
  margin-left: 20px;
  font: DM Sans;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #000000;
}
.blogSidebar-see_all {
  border: 0;
  color: #543ee0;
  margin-left: 15px;
  font: DM Sans;
  font-weight: 400;
  size: 18px;
  background-color: none;
  margin-top: 10px;
  cursor: pointer;
}
.blogSidebar-logout_btn {
  color: #ff1400;
  font-size: 16px;
  border: 0;
  background-color: #fff;
  margin-left: 15px;
  margin-top: 10px;
  cursor: pointer;
}
@media (max-width: 940px) {
  .blogSidebar-wrapper {
    display: none;
  }
}
@media (max-width: 390px) {
  .blogSidebar-contents {
    padding: 10px 10px;
  }
}
