.chatterUser-wrapper {
  margin-top: 600px;
}
.chatterUser-content {
  display: flex;
  align-items: center;
  background-color: #ffedcc;
  justify-content: center;
  height: 60vh;
  padding: 40px 0;
}
.chatterUser-contents {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 5%;
}
.chatterUser-Img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin-right: 50px;
}
.chatterUser-link {
  padding: 15px 16px;
  width: 157px;
  background: #543ee0;
  border-radius: 8px;
}
.chatterUser-content2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px 0;
}
.chatterUser-comment {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #111111;
}
.chatterUser {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #111111;
}
.chatterUser-name {
  font-weight: 700;
}
.chatterUser-link {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: #fff;
  text-decoration: none;
}
.chatterUser-link:hover {
  background-color: #493ba0;
  transition: all 0.3s;
}
.chatterUser-imgDiv1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.chatterUser-imgDiv2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.chatterUser-Img2 {
  width: 169px;
  height: 169px;
  border-radius: 50%;
  margin: 30px;
  margin-right: 50px;
}
@media (max-width: 1200px) {
  .chatterUser-wrapper {
    margin-top: 550px;
  }
}
@media (max-width: 1024px) {
  .chatterUser-wrapper {
    margin-top: 500px;
  }
}
@media (max-width: 940px) {
  .chatterUser-contents {
    align-items: center;
    justify-content:center;
  }
  .chatterUser-Img2{
    width: 100px;
    height: 100px;
  }
}
@media (max-width: 768px) {
  .chatterUser-wrapper {
    margin-top: 1150px;
  }
  .chatterUser-contents{
    flex-direction: column;
  }
  .chatterUser-content2 {
    align-items: center;
    justify-content: center;
  }
  .chatterUser-content {
    height: 85vh;
  }
  .chatterUser-Img {
    width: 180px;
    height: 180px;
  }
}
@media (max-width: 705px) {
  .chatterUser-wrapper {
    margin-top: 1200px;
  }
}
@media (max-width: 590px) {
  .chatterUser-wrapper {
    margin-top: 1250px;
  }
}
@media (max-width: 575px) {
  .chatterUser-wrapper {
    margin-top: 1280px;
  }
}
@media (max-width: 480px) {
  .chatterUser-wrapper {
    margin-top: 1550px;
  }
  .chatterUser-content{
    height: 120vh;
  }
  .chatterUser-content2 {
    padding: 40px 10%;
  }
  .chatterUser-imgDiv2{
    margin-top: 40px;
  }
  .chatterUser-Img2{
    margin: 5px;
    width: 120px;
    height: 120px;
  }
}
@media (max-width: 435px) {
  .chatterUser-wrapper {
    margin-top: 1650px;
  }
}
@media (max-width: 375px) {
  .chatterUser-wrapper {
    margin-top: 1550px;
  }
}
@media (max-width: 340px) {
  .chatterUser-wrapper {
    margin-top: 1600px;
  }
}
@media (max-width: 320px) {
  .chatterUser-wrapper {
    margin-top: 1650px;
  }
}
@media (max-width: 310px) {
  .chatterUser-wrapper {
    margin-top: 1700px;
  }
  .chatterUser-content{
    height: 130vh;
  }
  .chatterUser-content2 {
    padding: 40px 30%;
  }
}
@media (max-width: 300px) {
  .chatterUser-wrapper {
    margin-top: 1750px;
  }
}