/* Footer.css */

/* General styles */
.footerWrapper {
  background-color: #ffedcc;
  color: #111;
  padding: 20px;
}

.footerContents {
  max-width: 1200px;
  margin: 0 auto;
}

.footerLogo {
  color: #543ee0;
  font-size: 24px;
  text-decoration: none;
  font-weight: bold;
}

.footerContents2 {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.footerDiv {
  flex-basis: calc(33.33% - 20px);
}

.footerTitle {
  font-size: 20px;
  margin-bottom: 15px;
}

.footerLink {
  color: #484848;
  text-decoration: none;
  display: block;
  margin-bottom: 10px;
}

/* Media Queries */
@media screen and (max-width: 576px) {
  .footerContents2 {
    flex-direction: column;
  }

  .footerDiv {
    flex-basis: 100%;
    margin-bottom: 20px;
  }

  .footerLogo {
    text-align: center;
  }

  .footerTitle {
    text-align: center;
  }

  .footerLink {
    text-align: center;
  }
}
