.footerWrapper {
  height: 40vh;
  background-color: #ffedcc;
  padding: 1px 0;
}
.footerContents {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  margin-top: 40px;
}
.footerLogo {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 72px;
  color: #543ee0;
  cursor: pointer;
  text-decoration: none;
}
.footerContents2 {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}
.footerDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0 70px;
}
.footerTitle {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #111;
}
.footerLink {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #111;
  text-decoration: none;
}
.footerLink:hover {
    color: #555;
    transition: all 0.3s;
  }
@media (max-width: 1100px) {
  .footerDiv {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0 20px;
  }
}
@media (max-width: 768px) {
  .footerWrapper{
    height: 50vh;
    padding: 1px 3%;
  }
  .footerContents{
    flex-direction: column;
  }
  .footerContents2 {
    margin-left: -10px;
  }
  .footerLogo{
    padding-left: 1%;
  }
}
@media (max-width: 515px) {
  .footerDiv {
    margin: 0 10px;
  }
}
@media (max-width: 480px) {
  .footerWrapper{
    height: 55vh;
    padding: 1px 3%;
  }
  .footerLogo{
    padding: 1px 0;
    font-size: 24px;
  }
}
@media (max-width: 435px) {
  .footerTitle {
    font-weight: 550;
    font-size: 16px;
    line-height: 32px;
  }
  .footerLink {
    font-size: 14px;
  }
}