.blogNavbar-wrapper {
  margin-left: 280px;
  border: 1px solid #d0d0d0;
  height: 66px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  left: 0;
  background-color: #fff;
  border-top: none;
}
.blogNavbar-contents {
  display: flex;
  align-items: center;
  margin-left: 130px;
  justify-content: center;
}
.blogNavbar-search {
  border: 1px solid #d0d0d0;
  outline: none;
  border-radius: 4px;
  width: 310px;
  color: #555;
  padding: 7px 30px;
}
.blogNavbar-search_icon {
  color: #555 !important;
  margin-left: -370px;
}
.blogNavbar-user_div {
  margin-left: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.blogNavbar-content_bell {
  width: 20px;
  cursor: pointer;
  height: 20px;
  color: "3b3b3b";
  margin-right: 7px;
}