.blogNavbar-wrapper {
  margin-left: 280px;
  border: 1px solid #d0d0d0;
  height: 66px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: sticky;
  top: 0;
  left: 0;
  background-color: #fff;
  border-top: none;
  padding: 0 10px;
}
.blogNavbar-blog_logo {
  font-size: 24px;
  color: #543ee0;
  text-decoration: none;
  margin-right: auto;
  position: sticky;
  top: 0;
  padding: 15px 0;
  display: none;
}
.blogNavbar-contents {
  display: flex;
}
.blogNavbar-input_search {
  display: flex;
  align-items: center;
  justify-content: center;
}
.blogNavbar-search {
  border: 1px solid #d0d0d0;
  outline: none;
  border-radius: 4px;
  width: 210px;
  color: #555;
  padding: 7px 40px;
}
.blogNavbar-search_icon {
  margin-right: auto;
  position: absolute;
  right: 530px;
  color: #555 !important;
}
.blogNavbar-user_div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.blogNavbar-post_btn {
  color: #543ee0;
  padding: 5px 15px;
  border-radius: 5px;
  margin-right: 25px;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 14px;
  justify-content: center;
  text-decoration: none;
  border: 1px solid #543ee0;
  background-color: #fff;
  margin-left: 70px;
}
.blogNavbar-post_btn:hover {
  color: #fff;
  background-color: #543ee0;
  transition: all 0.3s;
}
.blogNavbar-content_bell {
  width: 20px;
  cursor: pointer;
  height: 20px;
  color: "3b3b3b";
  margin-right: 7px;
}
@media (max-width: 940px) {
  .blogNavbar-wrapper {
    margin-left: 0;
    border: 1px solid #d0d0d0;
    height: 66px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: sticky;
    top: 0;
    left: 0;
    background-color: #fff;
    border-top: none;
    padding: 0 10px;
  }
  .blogNavbar-input_search {
    margin-top: 5px;
  }
  .blogNavbar-blog_logo {
    display: block;
  }
  .blogNavbar-search_icon {
    right: 325px;
  }
  .blogNavbar-user_div {
    display: none;
  }
}
@media (max-width: 768px) {
  .blogNavbar-search_icon {
    right: 320px;
  }
}
@media (max-width: 575px) {
  .blogNavbar-search_toggler {
    display: block !important;
    padding: 4px;
    border-radius: 4px;
    width: 25px !important;
    height: 25px !important;
  }
  .blogNavbar-search_toggler:hover {
    background-color: #ffedcc;
    transition: all 0.3s;
  }
  .blogNavbar-input_search {
    position: absolute;
    right: 70px;
    top: 46px;
  }
  .blogNavbar-search {
    width: 170px;
  }
  .blogNavbar-search_icon {
    right: 210px;
  }
}
@media (max-width: 480px) {
  .blogNavbar-input_search {
    display: block;
  }
}
@media (max-width: 345px) {
  .blogNavbar-input_search {
    right: 9px;
  }
  .blogNavbar-search {
    width: 167px;
  }
  .blogNavbar-search_icon {
    right: 210px;
  }
}
@media (max-width: 320px) {
  .blogNavbar-input_search {
    right: 9px;
  }
  .blogNavbar-search {
    width: 208px;
  }
  .blogNavbar-search_icon {
    right: 250px;
  }
}
@media (max-width: 319px) {
  .blogNavbar-search {
    width: 167px;
  }
  .blogNavbar-search_icon {
    right: 220px;
  }
}
