.error-boundary {
  background-color: #543ee0;
  color: #fff;
  padding: 20px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.error-boundary h2 {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
}

.error-boundary p {
  font-size: 16px;
  text-align: center;
}
.errorBoundary-link {
  color: #543ee0;
  font-size: 1.5rem;
  text-decoration: none;
  background-color: #ffedcc;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  max-width: fit-content !important;
}
.errorBoundary-link:hover {
  background-color: #543ee0;
  border: 1px solid #ffedcc;
  color: #fff;
  transition: all 0.3s;
}
