.navbarWrapper {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
  height: 70px;
  padding: 10px 40px;
}
.navbarContents {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbarLogo {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 72px;
  color: #543ee0;
  text-decoration: none;
  margin-right: auto;
}
.navbarLinksOne {
  display: flex;
  align-items: center;
}
.navbarLink-list {
  list-style: none;
}
.navbarLinksOne-link {
  text-decoration: none;
  margin: 0 10px;
  color: #111;
  font-weight: 600;
}
.navbarLinksTwo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: auto;
}
.navbarLinksTwo-link {
  padding: 7px 10px;
  width: 100px;
  border-radius: 8px;
  text-align: center;
  color: #111;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  text-decoration: none;
  border: 1px solid #d7d7d7;
  margin: 0 10px;
  background-color: #f2f2f2;
  color: #111;
}
.navbarLinksTwo-link:hover {
  background-color: #fff;
}
#navbarLinksTwo-link {
  background: #543ee0;
  color: #fff;
}
#navbarLinksTwo-link:hover {
  background-color: #493ba0;
  transition: all 0.3s ease-in-out;
}
.navbarUser-flex {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: auto;
}
.navbarUser_avatar {
  box-shadow: 1px 1px 1px #612e2e;
  width: 35px !important;
  height: 35px !important;
  cursor: pointer;
  border-radius: 50%;
}
#navbarSignout {
  background-color: #612e2e;
  color: #fff;
  margin-right: -10px;
  margin-top: 5px;
}
#navbarSignout:hover {
  background-color: #783333;
  cursor: pointer;
  transition: all 0.3s;
}
.navbarMenu-div {
  display: none;
  margin-left: auto;
}
.navbarMenu {
  width: 40px !important;
  height: 40px !important;
  border-radius: 7px;
  cursor: pointer;
  color: #543ee0 !important;
  margin-left: 15px;
}
.navbarMenu:hover {
  background-color: #ffedcc;
  color: #493ba0 !important;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 940px) {
  .navbarLinksOne {
    display: none;
  }
  .navbarLinksTwo {
    display: none;
  }
  #navbarLinksTwo-link,
  #navbarLinksTwo-link2 {
    display: none;
  }
  .navbarUser-flex {
    display: none;
  }
  .navbarMenu-div {
    display: flex;
    align-items: center;
  }
}
@media (max-width: 480px) {
  .navbarWrapper {
    padding: 10px 20px;
  }
  .navbarLogo {
    font-size: 24px;
  }
  .navbarMenu {
    width: 30px !important;
    height: 30px !important;
  }
}
